 <!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Modernized screen</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstyle.css') }}">
	<!-- <link rel= "stylesheet" type= "text/css" href= "/static/styles/style.css">	 -->
    	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    	<script src="{{ url_for('static', filename='js/bootstrap.min.jquery.js') }}"></script>
	
</head>
  <body>
    <div class="container-fluid">
      <!-- Second navbar for sign in -->
      {% include 'navbar.html' %}
    <div id="f10">
    		<div id="side">
    		</div>
    		<div id="dv1">
    		</div>
		<main id="center" class="column">
			<h1>Edit Uploaded Images</h1>
			<form action="/editDB" method="POST">
				<table>
				{% for temp in img | batch(3) %}
					<tr>
				{% for item in temp %}
					<td><img src='static/{{item[2]}}' alt='{{item[2]}}' style="max-block-size:150px;" ><input type="checkbox" name="img" value="{{item[0]}}"></td>{% endfor %}
					</tr>
				{% endfor %}
				</table>
				<input type="submit" value="Submit">
			</form>
			<div style="width:400px; margin-right:400px; margin-top:-90px; margin-left:auto; border:0px solid #000;"> 
			</div>							
		</main>
    </div>
  </body>

</html>
