 <!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>SmartPark</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	
</head>

<body>


<div class="topnav">
  <a class="active" href="home.html">Home</a>
  <a href="irrigation.html">Irrigation</a>
  <a href="modernized.html">Modernized Screen</a>
  <a href="trashcan.html">Trash Can</a>
</div>

<div style="padding-left:16px">
  
</div>







<header id="header"><p></p></header>

	<div id="container">

		<main id="center" class="column">
			
			<h1>Home</h1>
			
										
		</main>

		<nav id="left" class="column">
			
			<h3></h3>
			

		</nav>

		<div id="right" class="column">
			
		</div>

	</div>

	<div id="footer-wrapper">
		<footer id="footer"><p></p></footer>
	</div>

</body>

</html>
