 <!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Irrigation</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">		
    	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    	<script src="{{ url_for('static', filename='js/bootstrap.min.jquery.js') }}"></script>
    	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstyle.css') }}">
</head>
<body>
    <div class="container-fluid">
      <!-- Second navbar for sign in -->
      {% include 'navbar.html' %}
    <div id="f10">
    		<div id="side">
    		</div>
    		<div id="dv1">
    		</div>	
		<main id="center" class="column">
			<h1>Irrigation</h1>
				<button type="button">Water it!</button>
				<button tye="button">Check the mositure level</button>
		</main>
		</div>
    </div>
  </body>
</html>
