 <!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Irrigation</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">	
	
</head>

<body>


{% include 'navbar.html' %}

<div style="padding-left:16px">
  
</div>







<header id="header"><p></p></header>

	<div id="container">

		<main id="center" class="column">
			
			<h1>Irrigation</h1>
			
											<button type="button">Water it!</button>
											<button tye="button">Check the mositure level</button>
		</main>

		<nav id="left" class="column">
			
			<h3></h3>
			

		</nav>

		<div id="right" class="column">
			
		</div>

	</div>

	<div id="footer-wrapper">
		<footer id="footer"><p></p></footer>
	</div>

</body>

</html>
