<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>Modernized Screen</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/modernized.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.jquery.js') }}"></script>
    <script src='static/js/chart.min.js'></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  <body>
    <div id="overlay" onclick="off()">
	<div id="overlay2">
		<h2 id="eventsHeader">Upcoming Events</h2>	
		<table id="eventTable">
			<tr>
				<td id="event">May 1st</td>
				<td id="event">Farmers Market</td>
			</tr>
			<tr>
				<td id="event">May 17th</td>
				<td id="event">Dog Show</td>
			</tr>
		</table>
	</div>
      {% for item in img %}
        <img id="test" src="static/{{item[2]}}" alt="{{item[2]}}" class="mySlides" style="width: 1280px; height: 760px;">
      {% endfor %}
    </div>
    <div style="padding:20px">
      <h2>Overlay</h2>
      <p>Add an overlay effect to the page content (100% width and height with a black background color with 50% opacity).</p>
      <button onclick="on()">Turn on overlay effect</button>
	<a href="home.html">Go Home</a>
    </div>
    <script>
    function on() {
        document.getElementById("overlay").style.display = "block";
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
    }
    var myIndex = 0;
    		carousel();
    		function carousel() {
          			var i;
          			var x = document.getElementsByClassName("mySlides");
          			for (i = 0; i < x.length; i++) {
             			x[i].style.display = "none";
          			}
          			myIndex++;
          			if (myIndex > x.length) {myIndex = 1}
          			x[myIndex-1].style.display = "block";
          		        setTimeout(carousel, 2000);
      		}
    </script>
  </body>
</html>
