 <!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Modernized screen</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">	
</head>
<body>

{% include 'navbar.html' %}

<div style="padding-left:16px">
  
</div>







<header id="header"><p></p></header>

	<div id="container">

		<main id="center" class="column">
			<h1>Modernized Screen</h1>
			<form action = "http://192.168.0.144:5000/uploader" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" />
				<input type = "submit"/>
				<a href="http://192.168.0.144:5000/edit">Edit Pictures</a>
			</form>
			<div class = "slideContent" style="max-width:500px">
			{% for item in img %}
				<img class="mySlides" src='static/{{item[2]}}' alt='{{item[2]}}' style = 'width:100%'>
			{% endfor %}
			</div>
			<div style="width:400px; margin-right:400px; margin-top:-90px; margin-left:auto; border:0px solid #000;"> 
			</div>							
		</main>

		<nav id="left" class="column">
			
			<h3></h3>
			
		</nav>

		<div id="right" class="column">
			
		</div>

	</div>

	<div id="footer-wrapper">
		<footer id="footer"><p></p></footer>
	</div>
	<script>
		var myIndex = 0;
		carousel();
		function carousel() {
      			var i;
      			var x = document.getElementsByClassName("mySlides");
      			for (i = 0; i < x.length; i++) {
         			x[i].style.display = "none";
      			}
      			myIndex++;
      			if (myIndex > x.length) {myIndex = 1}
      			x[myIndex-1].style.display = "block";
      			setTimeout(carousel, 1000); // Change image every 10 seconds
  }

	</script>

</body>

</html>
